<a href="https://colab.research.google.com/github/AI-Savvy/AIML-Projects/blob/main/Customer_Churn_with_Simple_TensorFlow.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importing Libraries

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense
from sklearn.metrics import accuracy_score

## Importing CSV for churn dataset

In [2]:
dataset = pd.read_csv('Churn.csv')
dataset.head()

,Customer ID,Gender,Senior Citizen,Partner,Dependents,tenure,Phone Service,Multiple Lines,Internet Service,Online Security,...,Device Protection,Tech Support,Streaming TV,Streaming Movies,Contract,Paperless Billing,Payment Method,Monthly Charges,Total Charges,Churn
0,7590-VHVEA,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
2,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
3,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
4,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No

## Creating dummy variables for features and defining dependent variable

In [3]:
X = pd.get_dummies(dataset.drop(['Customer ID', 'Churn'], axis = 1))
y = dataset['Churn'].apply(lambda x: 1 if x == 'Yes' else 0)

## Train test split for further training the model

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=1)

In [5]:
X_train.head()

,Senior Citizen,tenure,Monthly Charges,Gender_Female,Gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,Phone Service_No,...,Total Charges_995.35,Total Charges_996.45,Total Charges_996.85,Total Charges_996.95,Total Charges_997.65,Total Charges_997.75,Total Charges_998.1,Total Charges_999.45,Total Charges_999.8,Total Charges_999.9
5558,0,5,80.20,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
5955,0,20,55.00,0,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
2883,0,11,64.90,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
6042,0,5,19.95,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3344,0,16,20.10,1,0,1,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
y_train.head()

5558    0
5955    0
2883    0
6042    0
3344    0
Name: Churn, dtype: int64

## Implementing relu and sigmoid activation function for NN training

In [7]:
seq_model = Sequential()
seq_model.add(Dense(units=32, activation='relu', input_dim=len(X_train.columns)))
seq_model.add(Dense(units=64, activation='relu'))
seq_model.add(Dense(units=1, activation='sigmoid'))

In [8]:
seq_model.compile(loss='binary_crossentropy', optimizer='sgd', metrics='accuracy')

In [17]:
seq_model.fit(X_train, y_train, epochs=20, batch_size=64)

Epoch 1/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4524 - accuracy: 0.7874
Epoch 2/20
89/89 [==============================] - 1s 7ms/step - loss: 0.4636 - accuracy: 0.7803
Epoch 3/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4518 - accuracy: 0.7876
Epoch 4/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4494 - accuracy: 0.7894
Epoch 5/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4487 - accuracy: 0.7878
Epoch 6/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4535 - accuracy: 0.7869
Epoch 7/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4488 - accuracy: 0.7908
Epoch 8/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4510 - accuracy: 0.7872
Epoch 9/20
89/89 [==============================] - 1s 7ms/step - loss: 0.4493 - accuracy: 0.7881
Epoch 10/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4525 - accuracy: 0.7870
Epoch 11/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4496 - accuracy: 0.7846
Epoch 12/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4486 - accuracy: 0.7883
Epoch 13/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4494 - accuracy: 0.7899
Epoch 14/20
89/89 [==============================] - 1s 7ms/step - loss: 0.4486 - accuracy: 0.7867
Epoch 15/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4472 - accuracy: 0.7886
Epoch 16/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4473 - accuracy: 0.7888
Epoch 17/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4484 - accuracy: 0.7885
Epoch 18/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4482 - accuracy: 0.7872
Epoch 19/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4469 - accuracy: 0.7933
Epoch 20/20
89/89 [==============================] - 1s 8ms/step - loss: 0.4483 - accuracy: 0.7881

In [18]:
y_hat = seq_model.predict(X_test)
y_hat = [0 if val < 0.5 else 1 for val in y_hat]

In [19]:
accuracy_score(y_test, y_hat)

0.7735982966643009

## Saving the model

In [13]:
seq_model.save('Squential_NN_Churn')